<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华中农业大学MBA教育中心</title>
	<meta name="keywords" content="华中农业大学MBA教育中心">
	<meta name="description" content="华中农业大学MBA教育中心">
	<link rel="stylesheet" href="__PUBLIC__/front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/main.css">
    <script src="__PUBLIC__/front/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!-- 头部 -->
<include file="./Application/Home/View/Public/header.html" />
<!-- end -->
<!-- 中心内容区 -->
<div id="wrapper">
	<div id="main-content">
		<div class="location">
			当前所在位置：<a href="__APP__/Home/Index/index">首页</a> > <a href="__APP__/Home/Teacher/inschool">师资力量</a> > <a href="__APP__/Home/Teacher/outschool">校外导师</a>
		</div>
		<div class="content">
			<h1>校外导师</h1>
<pre>我校相关专业教师结构合理，水平较高。现有能从事MBA教育的校内相关专业教师51人，其中教授13人，副教授26人，讲师12人，具有博士学位的和在读博士占教师比例的90%。教师队伍中，有国务院学位委员会农林经济管理学科评议组成员1人、享受国务院政府特殊津贴的专家4人、教育部教学指导委员会委员2人，新世纪百千万人才工程国家级人选1人、教育部高校青年教师奖获得者和教育部新世纪优秀人才支持计划入选者6人、省部级有突出贡献的中青年专家4人。“十五”以来，承担国家自然科学基金和国家社会科学基金32项，国际合作项目5项，其他省部级项目150余项，出版各类专著20部、教材16部（其中面向21世纪教材和全国高等教育“十五”国家级规划教材5部），列入国家“十一五”国家规划教材7部，公开发表论文1200余篇。所指导的研究生论文中有1篇博士论文被评为全国优秀博士论文，另有1篇获提名；有12篇博士论文被评为湖北省优秀博士论文，5篇硕士论文被评为湖北省优秀硕士论文。
    我校相关教师国际交流合作频繁，具有从事MBA教育的国际化视野。近年来我校注重与国内外经济管理学术界的交流合作，美国、英国、加拿大、澳大利亚等国专家先后来我校经济管理学院讲学交流，我校先后派出20名教师赴美国、英国、澳大利亚等国家进行有关MBA、管理学方面的考察、进修或攻读学位，如蔡根女教授赴澳大利亚University of Melbourne进行农业企业管理学术访问；李崇光教授在美国Iowa State University商学院、University of Queensland进行农业企业工商管理硕士（MBA for Agribusiness）项目的学习；周德翼教授赴英国University of Sussex、荷兰Wageningen大学从事工商管理方面的合作研究，齐振宏教授赴英国City University进修工商管理，柳鹏程副教授在澳大利亚Sydney University、青平副教授在澳大利亚Monash University攻读农业经济学和商学硕士学位。教师的国际交流使得我校MBA教育的师资队伍能及时追踪国际MBA教育的发展动态，把最新的涉农企业、农业产业化的知识传授给MBA学员。
    聘请的来自企业经营管理实践战线的兼职教师包括涉农企业的董事长、总裁等高层管理人员，他们都具有指导MBA学员的实践经验和知识水平。我校已聘请了湖北兴发集团、春都集团、福娃集团、宜化集团、襄樊正大、新华扬集团、上海新农饲料、深圳农产品有限公司、唐人神集团、海大集团、中国农产品交易股份有限公司（香港）等企业董事长、总裁等高层管理人员担任我校兼职教师。这些企业与我校建立了良好的合作关系，每年我校均有学生到这些企业进行教学实习，接受他们的指导。
    聘请的兼职教授均具有较高的学术造诣和MBA指导经验。从国内外知名大学和科研机构聘请了一批兼职教授，如加拿大Brock University终身教授、MBA教育中心主任邓胜梁博士，澳大利亚University of Queensland供应链管理专家Ray Collins，美国国际食品政策研究所高级科学家游良志博士，台湾清华大学黄宗煌教授，中国驻联合国粮农组织国际贸易专家马有祥博士，国务院发展研究中心市场研究所国家贸易专家程国强博士，武汉大学经济与管理学院企业管理专家谭力文教授等。</pre>
		</div>
	</div>
</div>
<!-- end -->



<!-- 尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
<!-- end -->
</body>
</html>