*{
	margin:0px;
	padding:0px;
}
body{
	background:#fafafa;
	background:-webkit-linear-gradient(#fff 0%, #fafafa 110px);
	background:-moz-linear-gradient(#fff 0%, #fafafa 110px);
	background:-o-linear-gradient(#fff 0%, #fafafa 110px);
	background:linear-gradient(#fff 0%, #fafafa 110px);
}
ul{
	list-style-type: none;
}
a{
	text-decoration:none;
}
/*外部包裹区域*/
#wrapper{
	width:980px;
	height:800px;
	margin:0 auto;
}
/*头部*/
#head{
	width:100%;
	height:110px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa));
	background:-webkit-linear-gradient(#fff 0%, #fafafa 100%);
	background:-moz-linear-gradient(#fff 0%, #fafafa 100%);
	background:-o-linear-gradient(#fff 0%, #fafafa 100%);
	background:linear-gradient(#fff 0%, #fafafa 100%);
	float:left;
}
div.logo{
	display:inline-block;
	float:left;
}
div.logo img{
	margin-top:15px;
	float:left;
	width:250px;
	height:70px;
}
div.logo h1{
	font-size:1.5em;
	display:inline-block;
	line-height:120px;
	font-weight:400;
	color:#1967B5;
	text-shadow:-1px -1px white,
				1px 1px #1967B5;
	letter-spacing:1px;
}
div.head-word{
	display:inline-block;
	float:left;
	margin-left:50px;
}
div.head-word p{
	font-size:1.2em;
	letter-spacing:2px;
	color:#666;
	line-height:33px;
}
div.head-word p:nth-child(1){
	margin-top:20px;
}
div.head-word p:nth-child(2){
	margin-left:100px;
}
/*导航栏*/
nav{
	height:50px;
	width:100%;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#fff));
	background:-webkit-linear-gradient(#fafafa 0%, #fff 100%);
	background:-moz-linear-gradient(#fafafa 0%, #fff 100%);
	background:-o-linear-gradient(#fafafa 0%, #fff 100%);
	background:linear-gradient(#fafafa 0%, #fff 100%);
	float:left;
	box-shadow:0px 0px 2px #999;
}
nav ul{
	height:50px;
	width:100%;
	float:left;
}
nav ul li{
	float:left;
	width:11.111%;
	text-align:center;
	line-height:50px;
}
nav ul li a{
	width:100%;
	height:50px;
	display:inline-block;
	color:#333;
}
nav ul li:hover a{
	color:#2174b7;
	background:#f6f6f6;
	box-shadow:0px 0px 2px #ccc;
	border-radius:8px;
}