*{
	margin:0px;
	padding:0px;
}
html{
	min-width:1100px;
	width:100%;
}
body{
	background:#fafafa;
	background:-webkit-linear-gradient(#fff 0%, #fafafa 110px);
	background:-moz-linear-gradient(#fff 0%, #fafafa 110px);
	background:-o-linear-gradient(#fff 0%, #fafafa 110px);
	background:linear-gradient(#fff 0%, #fafafa 110px);
}
ul{
	list-style-type: none;
}
a{
	text-decoration:none;
}

.top{
	width:100%;
	min-width:1100px;
	height:5px;
	display:block;
	float:left;
	background:green;
}
/*头部*/
#head{
	width:1100px;
	height:120px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa));
	background:-webkit-linear-gradient(#fff 0%, #fafafa 100%);
	background:-moz-linear-gradient(#fff 0%, #fafafa 100%);
	background:-o-linear-gradient(#fff 0%, #fafafa 100%);
	background:linear-gradient(#fff 0%, #fafafa 100%);
	margin:0 auto;
}

div.logo{
	display:inline-block;
	float:left;
}
div.logo img{
	margin-top:10px;
	float:left;
	width:290px;
	height:90px;
}
div.head-word{
	display:inline-block;
	float:left;
	margin-left:50px;
}
div.head-word p{
	font-size:1.2em;
	letter-spacing:2px;
	color:#666;
	line-height:33px;
}
div.head-word p:nth-child(1){
	margin-top:30px;
}
div.head-word p:nth-child(2){
	margin-left:100px;
}
/*导航栏*/
#nav{
	height:60px;
	width:100%;
	min-width:1100px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#fff));
	background:-webkit-linear-gradient(#fafafa 0%, #fff 100%);
	background:-moz-linear-gradient(#fafafa 0%, #fff 100%);
	background:-o-linear-gradient(#fafafa 0%, #fff 100%);
	background:linear-gradient(#fafafa 0%, #fff 100%);
	float:left;
	display:block;
	box-shadow:0px 0px 2px #999;
}
/*一级导航*/
#nav ul.first-ul{
	height:60px;
	width:1100px;
	margin:0 auto;
}
#nav ul.first-ul li{
	float:left;
	width:11.111%;
	text-align:center;
	line-height:60px;
	position: relative;
}
#nav ul.first-ul li a{
	width:100%;
	height:60px;
	display:inline-block;
	color:#333;
	font-weight:500;
}

#nav ul.first-ul li:hover a.first-a{
	color:#2174b7;
	background:#f6f6f6;
	box-shadow:0px 0px 2px #ccc;
	border-radius:8px;
}
/*二级导航*/
#nav ul.second-ul{
	width:130%;
	position:absolute;
	left:0;
	top:60px;
	display:inline-block;
	z-index:999;
	display:none;
}
#nav ul.first-ul li:hover ul.second-ul{
	box-shadow:0px 0px 2px #ccc;
	border-radius:8px;
	background:#f6f6f6;
}
#nav ul.second-ul span{
	height:3px;
	width:100%;
	background:#164B77;
	display:block;
	border-top-right-radius:8px;
}
#nav ul.second-ul li{
	float:left;
	width:100%;
	text-align:left;
	text-indent:25px;
	line-height:50px;
	background:#f6f6f6;
	border-bottom:1px solid #aaa;
}
#nav ul.second-ul li:last-child{
	border-bottom:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
#nav ul.second-ul li a{
	width:100%;
	float:left;
	height:50px;
	display:block;
	color:#333;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
#nav ul.second-ul li:hover a{
	color:#2174b7;
	/*background:green;*/
	box-shadow:0px 0px 0px #fff;
	/*border-radius:0px;*/
}
/*尾部*/
#footer{
	height:100px;
	width:100%;
	min-width:1100px;
	box-shadow:0px 0px 5px #666;
	float:left;
	margin-top:20px;
}
#footer h1{
	font-size:0.9em;
	color:#666;
	font-weight:400;
	text-align:center;
	line-height:30px;
}
#footer h1:nth-child(1){
	margin-top:18px;
}
#footer h1 a{
	color:#666;
}