 #wrapper{
	width:1100px;
	margin:0 auto;
}
#main-content{
	width:100%;
	min-height:500px;
	display:block;
	/*border:1px solid #eee;*/
	float:left;
	margin-top:20px;
}
.location{
	margin-top:0px;
	width:100%;
	height:50px;
	/*border:1px solid #999;*/
	float:left;
	line-height:50px;
	background:#fff;
	font-size:14px;
	letter-spacing:1px;
	color:#222;
	text-indent:45px;
	font-weight:300;
}
.location a{
	color:#222;
}
.location a:hover{
	color:#6874C3;
}
.content{
	width:100%;
	min-height:450px;
	margin-top:15px;
	float:left;
	background:#fff;
}
.content h1{
	font-size:1.3em;
	font-weight:400;
	text-align: center;
	color:#4782b2;
	line-height:80px;
}
.content pre{
	width:92%;
	margin-left:4%;
	float:left;
	font-size:1.1em;
	line-height:30px;
	color:#000;
	letter-spacing:1px;
	margin-bottom:40px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/*下载中心*/
.download-ul{
	width:80%;
	margin-left:10%;
	float:left;
	margin-bottom:40px;

}
.download-ul li{
	border-bottom:1px dashed #999;
	line-height:35px;
	background: url(../images/arrow_go.png) 1.2% center no-repeat;
	text-indent:1.8em;
}
.download-ul li i{
	font-style:normal;
	font-size:10px;
	float:left;
	line-height:35px;
	/*text-indent:3em;*/
	margin-right:0.5em;
}
.download-ul li a{
	color:#444;
	/*font-weight:400;*/
}
.download-ul li a:hover{
	color:orange;
}
.download-ul li h6{
	font-size:0.8em;
	display:inline-block;
	float:right;
	margin-right:1em;
	font-weight:400;
	color:#333;
}
.ul-nav{
	width:20%;
	height:40px;
	margin-left:42%;
	margin-bottom:50px;
	/*background:red;*/
	float:left;
	/*margin:0 auto;*/
	text-align:center;
	line-height:30px;
}
.ul-nav i{
	font-style:normal;
	font-size:0.9em;
	float:left;
}
.ul-nav span{
	padding-left:10px;
	padding-right:10px;
	color:#666;
	display:inline-block;
	font-weight:300;
	margin-left:5px;
	float:left;
	height:30px;
	line-height:30px;
	border:1px solid #aaa;
	font-size:0.9em;
}
.ul-nav a{
	padding-left:10px;
	padding-right:10px;
	color:#666;
	display:inline-block;
	font-weight:300;
	margin-left:5px;
	float:left;
	height:30px;
	line-height:30px;
	border:1px solid #aaa;
	font-size:0.9em;
}
.ul-nav a:hover{
	background:#2A7EC3;
	color:#fff;
}


/*information*/
.information-pre{
	width:100%;
	text-align:left;
	margin-left: 0px;
}


/*Teacher inschool*/
.teacher-ul{
	width:90%;
	margin-left:5%;
	min-height:100px;
	float:left;
	border:1px solid #FFE5D6;
	margin-bottom:50px;
}
.teacher-ul h1{
	height:40px;
	line-height:40px;
	float:left;
	font-weight:400;
	font-size:1.1em;
	width:100%;
	background:#FFFBEC;
	margin-bottom:10px;
}
.teacher-ul li{
	width:10%;
	height:35px;
	float:left;
	text-align:center;
	line-height:35px;
	background:url(../images/teacher.jpg) 25% center no-repeat;
}
.teacher-ul li a{
	color:#000;
}
.teacher-ul li a:hover{
	color:#4782B2;
}