<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华中农业大学MBA教育中心</title>
	<meta name="keywords" content="华中农业大学MBA教育中心">
	<meta name="description" content="华中农业大学MBA教育中心">
	<link rel="stylesheet" href="__PUBLIC__/front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/main.css">
    <script src="__PUBLIC__/front/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!-- 头部 -->
<include file="./Application/Home/View/Public/header.html" />
<!-- end -->
<!-- 中心内容区 -->
<div id="wrapper">
	<div id="main-content">
		<div class="location">
			当前所在位置：<a href="__APP__/Home/Index/index">首页</a> > <a href="__APP__/Home/Index/download">下载中心</a>
		</div>
		<div class="content">
			<h1>下载中心</h1>
			<ul class="download-ul">
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				<li><a href="__PUBLIC__/download/hzaumba.sql">hzaumba.sql</a><h6>2015-12-12</h6></li>
				
			</ul>
			<div class="ul-nav">
				<i>共3 页 页次:1/3 页</i>
				<span>
					<a href="">首页</a>
					<a href="">上一页</a>
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">下一页</a>
					<a href="">尾页</a>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- end -->



<!-- 尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
<!-- end -->
</body>
</html>