<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华中农业大学MBA教育中心</title>
	<meta name="keywords" content="华中农业大学MBA教育中心">
	<meta name="description" content="华中农业大学MBA教育中心">
	<link rel="stylesheet" href="__PUBLIC__/front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/main.css">
    <script src="__PUBLIC__/front/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!-- 头部 -->
<include file="./Application/Home/View/Public/header.html" />
<!-- end -->
<!-- 中心内容区 -->
<div id="wrapper">
	<div id="main-content">
		<div class="location">
			当前所在位置：<a href="__APP__/Home/Index/index">首页</a> > <a href="__APP__/Home/Introduce/mbaprj">项目介绍</a> > <a href="__APP__/Home/Introduce/mbaprj">MBA项目</a>
		</div>
		<div class="content">
			<h1>MBA项目</h1>
<pre>华中农业大学MBA教育是中国最具影响力与品牌价值的MBA项目之一。 华中农业大学MBA教育基于“诚信、严谨、创新、卓越”的基本理念，以“凝聚精英、集聚智慧、重构未来、升华人生”作为其价值链的起点，以“专业导向、能力导向、素质导向、职业导向、市场导向”贯穿其价值链的全程，以“知识积累与能力提升并重、国际化视野与本土化创新并重、商业能力与社会责任并重、企业领袖魅力与企业公民意识并重”充实其价值链的关键环节，以凸显其价值链的核心优势。</pre>
		</div>
	</div>
</div>
<!-- end -->



<!-- 尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
<!-- end -->
</body>
</html>