<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华中农业大学MBA教育中心</title>
	<meta name="keywords" content="华中农业大学MBA教育中心">
	<meta name="description" content="华中农业大学MBA教育中心">
	<link rel="stylesheet" href="__PUBLIC__/front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/index.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
    <!--[if IE]><link rel="stylesheet" href="__PUBLIC__/front/css/ie.css"><![endif]-->
    <!--[if lte IE 9]><script type="text/javascript" src="__PUBLIC__/front/js/ie.js"></script><![endif]-->
    <script src="__PUBLIC__/front/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<include file="./Application/Home/View/Public/header.html" />




<include file="./Application/Home/View/Public/footer.html" />
    <!-- <iframe style="display:none;" src="tencent://message/?uin=2403602150&Site=&menu=yes"></iframe> -->
</body>
</html>