<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华中农业大学MBA教育中心</title>
	<meta name="keywords" content="华中农业大学MBA教育中心">
	<meta name="description" content="华中农业大学MBA教育中心">
	<link rel="stylesheet" href="__PUBLIC__/front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/main.css">
    <script src="__PUBLIC__/front/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!-- 头部 -->
<include file="./Application/Home/View/Public/header.html" />
<!-- end -->
<!-- 中心内容区 -->
<div id="wrapper">
	<div id="main-content">
		<div class="location">
			当前所在位置：<a href="__APP__/Home/Index/index">首页</a> > <a href="__APP__/Home/Center/center">中心概况</a> > <a href="__APP__/Home/Center/edu">教育理念</a>
		</div>
		<div class="content">
			<h1>教育理念</h1>
<pre>　　愿景：打造中国一流、世界知名的MBA教育基地

　　To become a leading provider of Chinese MBA education with a world-reknowed reputation

　　使命：培养具有国际视野、兼备竞争意识与团队精神的中国工商管理精英

　　To nurture a Chinese business elite with a global vision and an ertrepreneurial spirit through a combination of

　　strong leadership and teamwork

　　价值观：谋新求变  止于至善

　　Knowledge,innovation,openness to change,striving for perfection</pre>
		</div>
	</div>
</div>
<!-- end -->



<!-- 尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
<!-- end -->
</body>
</html>