<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华中农业大学MBA教育中心</title>
	<meta name="keywords" content="华中农业大学MBA教育中心">
	<meta name="description" content="华中农业大学MBA教育中心">
	<link rel="stylesheet" href="__PUBLIC__/front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/main.css">
    <script src="__PUBLIC__/front/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!-- 头部 -->
<include file="./Application/Home/View/Public/header.html" />
<!-- end -->
<!-- 中心内容区 -->
<div id="wrapper">
	<div id="main-content">
		<div class="location">
			当前所在位置：<a href="__APP__/Home/Index/index">首页</a> > <a href="__APP__/Home/Center/center">中心概况</a> > <a href="__APP__/Home/Center/organization">组织机构</a>
		</div>
		<div class="content">
			<h1>组织机构</h1>
<pre>华中农业大学工商管理硕士教育指导委员会委员名单
主任委员：
李崇光 华中农业大学副校长、教授
副主任委员：
侯永旺 鄂尔多斯集团董事局董事 
青 平 经济管理学院院长、教授 
委    员：（以姓氏笔画为序）
孙 剑 经济管理学院教授 
李艳军 经济管理学院教授 
严奉宪 经济管理学院教授 
周德翼 经济管理学院教授  
秘    书：余 戎</pre>
		</div>
	</div>
</div>
<!-- end -->



<!-- 尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
<!-- end -->
</body>
</html>